.cmisBreadcrumbs {
  margin-bottom:1em;
  font-size:0.923em;
  color:#808080;
}
.cmisBreadcrumbs b {
  font-weight:normal;
}
.cmisBreadcrumbs a {
  color:#64B000;
}
.cmisBreadcrumbs a:hover {
  color:#fff;
}
.cmisResults {
  border-bottom:1px solid #ddd;
}
.cmisBrowser .cmisObject {
  position:relative;
  border-top:1px solid #ddd;
  padding:0.5em 0 0.5em 0.5em;
  min-height:48px;
}
.cmisBreadcrumbs a {
  text-decoration:none;
}
.cmisBrowser .cmisThumbnail {
  width:3.7em;
}
.cmisThumbnail.foswikiRight {
  margin:0 0 1em 1em;
}
.cmisThumbnail.foswikiLeft {
  margin:0 1em 1em 0;
}
.cmisBrowser .cmisThumbnail img {
  max-height:48px;
}
.cmisBrowser .cmisObjectInfo {
  margin-left:4.7em;
}

.cmisToolbar {
  float:right;
}

.cmisObjectTools {
  visibility:hidden;
  text-align:right;
  line-height:2em;
  width:50%;
}


.cmisObjectTools a,
.cmisToolbar a {
  text-decoration:none;
  padding:0.3em 0.5em;
  color:#444;
  font-size:0.923em;
  white-space:nowrap;
}
.cmisObjectTools a:hover,
.cmisToolbar a:hover {
  color:#fff;
}

.cmisHover input,
.cmisHover label {
  cursor:pointer;
}
.cmisResults .cmisHover {
  background: #F4F4F4;
}
.cmisHover .cmisObjectTools {
  visibility:visible;
}

.cmisPagerPrev,
.cmisPagerNext,
.cmisPager a {
  margin:0px 1px;
  padding:2px 5px;
  text-decoration:none;
}
.cmisPager a.current:visited,
.cmisPager a:hover,
.cmisPager a.current {
  color:#fff;
  background:#bb2222;
}
.cmisPagerEllipsis {
  margin:0px 5px;
}
.cmisPagerPrev,
.cmisPagerNext {
  font-weight:bold;
}
.cmisPagerPrev {
  margin-right:0.5em;
}
.cmisPagerNext {
  margin-left:0.5em;
}

.cmisTree ul {
  margin:0;
  list-style:none;
}
.cmisTree li li {
  margin-left:20px;
}
.cmisTree li a {
  background-image:url(folder.png);
  background-repeat:no-repeat;
  background-position:left center;
  padding-left:22px;
  text-decoration:none;
}

/* pattern skin */
#patternOuter {
  margin:0;
}
#patternPage .cmisBrowser a:hover {
  background-color:#0055b5 !important;
  color:#fff;
  text-decoration:none;
}
